.outerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 8px;
  /* margin: 0 180px; */
}

.passcodeTextContainer {
  display: flex;
  font-family: monospace;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--placeholder);
  padding: 16px;
  flex-wrap: wrap;
}
.passcodeTextContainer label {
  font-family: inherit;
  font-size: 2rem;
  color: var(--text)
}

.passcodeText {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid gray;
  background: 0;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.2s border-bottom-color;
  overflow-x: auto;
  width: 30%;
  margin: 0px 1rem;
  color: var(--text)
}


.buttonsContainer {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  overflow: hidden;
}

.clearButton {
  background: 0;
  border: 0;
  outline: 0;
  font-size: 2rem;
  color: var(--text);
}

.buttonContainer {
  position: relative;
  flex-basis: calc(33.333% - 10px);
  margin: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 1.5rem;
  box-sizing: border-box;
  align-self: center;
}
.buttonContainer::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  background: var(--button);
  border: 0;
  /* border-radius: 5px; */

  display: flex; /* added for centered text */
  justify-content: center; /* added for centered text */
  align-items: center; /* added for centered text */
  color: var(--text)
}

.button:active {
  background-color: #949494;
}

/*

.buttonsContainer {
  background-color: blue;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


.buttonContainer {
  position: relative;
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
  border: 1px solid;
  box-sizing: border-box;
}

.buttonContainer::before {
  content: "";
  padding-top: 30%;
  display: block;
}
/* 
.button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: 0;
  border: 0;
} */

.valid {
  border-bottom-color: gray;
}

.invalid {
  border-bottom-color: red;
}


@media only screen and (max-width: 768px) {
  .passcodeTextContainer label, .passcodeText {
    font-size: 1.2rem;
  }
  .passcodeText {
    flex: 1;
  }
}