.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  z-index: inherit;
  flex: 1;
}

.buttons-container {
  background: black;
  padding: 1rem;
  display: grid;

}

.buttons-container::before, .button {
  grid-area: 1 / 1 / 2 / 2;
}

.button-container {
  width: 3rem;
  height: 3rem;
}

.button {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
}

.outerContainer {
  margin: 16;
  padding: 32;
} 